# Introduction to Data Engineering: Bridging the gap between raw data and insights

What we'll cover in this tutorial

In this tutorial, we'll be using SQLite, a simple and easy-to-use database, to explore the fundamentals of data engineering and data preprocessing. We'll cover the following topics:
+ Introduction to SQL: We'll learn the basics of SQL (Structured Query Language), the standard language for interacting with databases.
+ Data Loading: We'll load the transformed data into a new table or file for further analysis.
+ Data Extraction: We'll use SQL to extract data from our SQLite database.
+ Data Transformation: We'll use SQL to clean, transform, and prepare the data for analysis. This will include handling missing values, inconsistent formatting, and duplicates.

### Understanding SQL and Relational Databases

Relational databases organize data into tables, which you can visualize as spreadsheets with rows and columns. Each table represents a specific type of entity or concept â€“ imagine tables for "Customers," "Products," or "Orders." 
To query these databases, we are using **SQL**, which is the standard language for interacting with relational databases. 

Rows (or Records): Each row in a table represents a single instance of that entity. For example, in the diagram below, in the "Order" table, each row would represent one specific order. We often refer to these as records.
Columns (Attributes): Each column in a table represents a characteristic or attribute of that entity. In the "Order" table, columns might include "UnitPrice," "Quantity," and "Discount." Each column has a specific data type (e.g., text, number, date).
The power of relational databases lies in their ability to represent relationships between different entities. These relationships are created using keys:

+ Primary Key: A unique identifier for each record within a table. For example, "CustomerID" in the "Customers" table would likely be a primary key, ensuring that each customer has a unique identifier.
+ Foreign Key: A column in one table that refers to the primary key of another table. This establishes a link between the two tables. For example, an "Orders" table might have a "CustomerID" column that is a foreign key referencing the "CustomerID" (primary key) in the "Customers" table. This way, you know which customer placed each order.

Tables are linked together through these keys, allowing you to perform complex queries that combine data from multiple tables. They can be linked using different types of relationships, such as one-to-one, one-to-many, or many-to-many.

Below is a database schema diagram that illustrates these concepts:

![Northwind Database Schema](./images/db-schema-northwind.svg)


---

#  We need to populate our database with some data !

In this tutorial, we will be using the Northwind database, a sample database that contains data about a fictional company that imports and exports specialty foods. It includes tables for customers, orders, products, and more.
The schema diagram above shows the relationships between the tables in the Northwind database.

We've created for you a small script that will create the Northwind database and populate it with some sample data. To make things easy, we use SQLite, a lightweight database that is easy to set up and use, and offers a simple way to work with SQL databases without needing a separate server.
In a real-world scenario, you would typically connect to a database server (like PostgreSQL, MySQL, Snowflake, etc...) and run SQL commands to create and populate your database. 

ðŸ’¡ **You don't really need to understand what's happening down there, you can just execute the code and move on to the next section.**

In [22]:
#Import required libraries for data processing

import urllib.request
import os
import sqlite3
import pandas as pd  # added for dataframe operations

In [23]:
# Verifying if the database file exists, if not, download it. Instantiate the connection to the database.

url = "https://github.com/jpwhite3/northwind-SQLite3/raw/refs/heads/main/dist/northwind.db"
db_path = "northwind.db"

if not os.path.exists(db_path):
    print("Downloading the database...")
    urllib.request.urlretrieve(url, db_path)
    print("Database downloaded successfully!")
else:
    print("Database already exists.")

# Connexion Ã  la base
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

Database already exists.

In [24]:
def query_and_print(query):
    """
    Execute a SQL query and print the results.
    """
    cursor.execute(query)
    results = cursor.fetchall()
    
    # Convert results to a DataFrame for better readability
    df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])
    
    print(df.to_string(index=False))
    return df


---

# Back to our SQL queries

SQL is the standard language for talking to databases â€“ the organized stores of information that power your business. Think of SQL as the tool that lets you ask questions of your data and get the answers you need to make better decisions. It's like having a direct line to your company's knowledge.

Why is SQL Important for Business Professionals?

SQL empowers you to:

Get answers to critical business questions: Instead of relying solely on reports or technical teams, you can use SQL to directly query your data and answer questions like:
+ What are my top-selling products this quarter?
+ Which marketing campaigns are generating the most leads?
+ What is the average order value for customers in a specific region?
+ Who are my most valuable customers, and what are they buying?


---

# ðŸ¤– SQL + AI: Smarter Queries, Safer Data

AI speed up and simplify greatly the SQL query generation, but it requires a thoughtful approach, and a bit of practice to get the most out of it. Here are some tips to help you effectively use AI for SQL query generation:

### 1. Prompt Engineering:

Set the Stage: Begin by defining the context: "As a database engineer using [Your Database System]..." that will help the system understand the environment and constraints.
This important for the query to have the proper syntax and to avoid errors.

ðŸ«¸ Schema as Context: Always provide the relevant database schema as text at the beginning of your prompt or discussion. Without it, the AI model cannot understand what data it is manipulating, and will NEVER give you 

### 2. Prompt Engineering:

Clarity is Key: Articulate your needs precisely. Avoid ambiguity!
Example Prompts:
"I want the products generating the most revenue between 2014 and 2018."
"I want the name and phone number of our lead customer with over $1 million in purchases."
Critical Review:

Always Validate the AI's Output!
Watch Out For:
+ Inaccurate dates or filters - That could get you wrong results and insights
+ Destructive commands like DELETE or DROP TABLE - This can put in danger your whole database, and compromise the operations of others !

---


---

# Let's cross the Rubicon !

Alright, let's get our hands dirty. Imagine we've just been hired as the new data analysts for a company called "Northwind traders". They are a small but ambitious company that imports and exports gourmet food products around the world.

Our manager has given us our first big mission: Help the company boost its sales.

That's a broad goal. Where do we even begin? As data people, our first instinct should be to look at the data we have. We need to understand the business before we can change it. Our main tool for this investigation will be SQL.

Let's start by asking some basic questions.

Peeking into the data with select and limit
Before we can think about sales, we need to know what we're actually selling. Our database has a table called Products that seems like a good place to start.

Let's ask the database to show us everything in that table. The command for "show me" in SQL is select. If we want to see every column, we use the asterisk *, which is a wildcard for "all".

In [25]:
query_and_print("SELECT * from Products;")

 ProductID                      ProductName  SupplierID  CategoryID      QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel Discontinued
         1                             Chai           1           1   10 boxes x 20 bags      18.00            39             0            10            0
         2                            Chang           1           1   24 - 12 oz bottles      19.00            17            40            25            0
         3                    Aniseed Syrup           1           2  12 - 550 ml bottles      10.00            13            70            25            0
         4     Chef Anton's Cajun Seasoning           2           2       48 - 6 oz jars      22.00            53             0             0            0
         5           Chef Anton's Gumbo Mix           2           2             36 boxes      21.35             0             0             0            1
         6     Grandma's Boysenberry Spread           3           2       12 - 8 oz jars      25.00           120             0            25            0
         7  Uncle Bob's Organic Dried Pears           3           7      12 - 1 lb pkgs.      30.00            15             0            10            0
         8       Northwoods Cranberry Sauce           3           2      12 - 12 oz jars      40.00             6             0             0            0
         9                  Mishi Kobe Niku           4           6     18 - 500 g pkgs.      97.00            29             0             0            1
        10                            Ikura           4           8     12 - 200 ml jars      31.00            31             0             0            0
        11                   Queso Cabrales           5           4            1 kg pkg.      21.00            22            30            30            0
        12        Queso Manchego La Pastora           5           4     10 - 500 g pkgs.      38.00            86             0             0            0
        13                            Konbu           6           8             2 kg box       6.00            24             0             5            0
        14                             Tofu           6           7     40 - 100 g pkgs.      23.25            35             0             0            0
        15                     Genen Shouyu           6           2  24 - 250 ml bottles      15.50            39             0             5            0
        16                          Pavlova           7           3     32 - 500 g boxes      17.45            29             0            10            0
        17                     Alice Mutton           7           6       20 - 1 kg tins      39.00             0             0             0            1
        18                 Carnarvon Tigers           7           8           16 kg pkg.      62.50            42             0             0            0
        19       Teatime Chocolate Biscuits           8           3 10 boxes x 12 pieces       9.20            25             0             5            0
        20           Sir Rodney's Marmalade           8           3        30 gift boxes      81.00            40             0             0            0
        21              Sir Rodney's Scones           8           3  24 pkgs. x 4 pieces      10.00             3            40             5            0
        22              Gustaf's KnÃ¤ckebrÃ¶d           9           5     24 - 500 g pkgs.      21.00           104             0            25            0
        23                         TunnbrÃ¶d           9           5     12 - 250 g pkgs.       9.00            61             0            25            0
        24               GuaranÃ¡ FantÃ¡stica          10           1     12 - 355 ml cans       4.50            20             0             0            1
        25          NuNuCa NuÃŸ-Nougat-Creme          11           3   20 - 450 g glasses      14.00            76             0            30            0
        26              GumbÃ¤r GummibÃ¤rchen          11           3     100 - 250 g bags      31.23            15             0             0            0
        27               Schoggi Schokolade          11           3   100 - 100 g pieces      43.90            49             0            30            0
        28                RÃ¶ssle Sauerkraut          12           7      25 - 825 g cans      45.60            26             0             0            1
        29          ThÃ¼ringer Rostbratwurst          12           6 50 bags x 30 sausgs.     123.79             0             0             0            1
        30            Nord-Ost Matjeshering          13           8   10 - 200 g glasses      25.89            10             0            15            0
        31                Gorgonzola Telino          14           4      12 - 100 g pkgs      12.50             0            70            20            0
        32               Mascarpone Fabioli          14           4     24 - 200 g pkgs.      32.00             9            40            25            0
        33                          Geitost          15           4                500 g       2.50           112             0            20            0
        34                    Sasquatch Ale          16           1   24 - 12 oz bottles      14.00           111             0            15            0
        35                   Steeleye Stout          16           1   24 - 12 oz bottles      18.00            20             0            15            0
        36                      Inlagd Sill          17           8     24 - 250 g  jars      19.00           112             0            20            0
        37                       Gravad lax          17           8     12 - 500 g pkgs.      26.00            11            50            25            0
        38                    CÃ´te de Blaye          18           1   12 - 75 cl bottles     263.50            17             0            15            0
        39                 Chartreuse verte          18           1    750 cc per bottle      18.00            69             0             5            0
        40                 Boston Crab Meat          19           8       24 - 4 oz tins      18.40           123             0            30            0
        41  Jack's New England Clam Chowder          19           8      12 - 12 oz cans       9.65            85             0            10            0
        42    Singaporean Hokkien Fried Mee          20           5      32 - 1 kg pkgs.      14.00            26             0             0            1
        43                      Ipoh Coffee          20           1      16 - 500 g tins      46.00            17            10            25            0
        44                     Gula Malacca          20           2       20 - 2 kg bags      19.45            27             0            15            0
        45                      Rogede sild          21           8              1k pkg.       9.50             5            70            15            0
        46                        Spegesild          21           8    4 - 450 g glasses      12.00            95             0             0            0
        47                    Zaanse koeken          22           3      10 - 4 oz boxes       9.50            36             0             0            0
        48                        Chocolade          22           3             10 pkgs.      12.75            15            70            25            0
        49                         Maxilaku          23           3      24 - 50 g pkgs.      20.00            10            60            15            0
        50                 Valkoinen suklaa          23           3      12 - 100 g bars      16.25            65             0            30            0
        51            Manjimup Dried Apples          24           7     50 - 300 g pkgs.      53.00            20             0            10            0
        52                         Filo Mix          24           5      16 - 2 kg boxes       7.00            38             0            25            0
        53                    Perth Pasties          24           6            48 pieces      32.80             0             0             0            1
        54                        TourtiÃ¨re          25           6              16 pies       7.45            21             0            10            0
        55                     PÃ¢tÃ© chinois          25           6    24 boxes x 2 pies      24.00           115             0            20            0
        56           Gnocchi di nonna Alice          26           5     24 - 250 g pkgs.      38.00            21            10            30            0
        57                   Ravioli Angelo          26           5     24 - 250 g pkgs.      19.50            36             0            20            0
        58           Escargots de Bourgogne          27           8            24 pieces      13.25            62             0            20            0
        59             Raclette Courdavault          28           4            5 kg pkg.      55.00            79             0             0            0
        60                Camembert Pierrot          28           4    15 - 300 g rounds      34.00            19             0             0            0
        61                   Sirop d'Ã©rable          29           2  24 - 500 ml bottles      28.50           113             0            25            0
        62                   Tarte au sucre          29           3              48 pies      49.30            17             0             0            0
        63                     Vegie-spread           7           2      15 - 625 g jars      43.90            24             0             5            0
        64        Wimmers gute SemmelknÃ¶del          12           5   20 bags x 4 pieces      33.25            22            80            30            0
        65 Louisiana Fiery Hot Pepper Sauce           2           2    32 - 8 oz bottles      21.05            76             0             0            0
        66        Louisiana Hot Spiced Okra           2           2       24 - 8 oz jars      17.00             4           100            20            0
        67        Laughing Lumberjack Lager          16           1   24 - 12 oz bottles      14.00            52             0            10            0
        68              Scottish Longbreads           8           3  10 boxes x 8 pieces      12.50             6            10            15            0
        69                 Gudbrandsdalsost          15           4           10 kg pkg.      36.00            26             0            15            0
        70                    Outback Lager           7           1  24 - 355 ml bottles      15.00            15            10            30            0
        71                      Flotemysost          15           4     10 - 500 g pkgs.      21.50            26             0             0            0
        72           Mozzarella di Giovanni          14           4     24 - 200 g pkgs.      34.80            14             0             0            0
        73                       RÃ¶d Kaviar          17           8      24 - 150 g jars      15.00           101             0             5            0
        74                    Longlife Tofu           4           7            5 kg pkg.      10.00             4            20             5            0
        75             RhÃ¶nbrÃ¤u Klosterbier          12           1   24 - 0.5 l bottles       7.75           125             0            25            0
        76                     LakkalikÃ¶Ã¶ri          23           1               500 ml      18.00            57             0            20            0
        77  Original Frankfurter grÃ¼ne SoÃŸe          12           2             12 boxes      13.00            32             0            15            0

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
72,73,RÃ¶d Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,0
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,0
74,75,RhÃ¶nbrÃ¤u Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,0
75,76,LakkalikÃ¶Ã¶ri,23,1,500 ml,18.00,57,0,20,0
76,77,Original Frankfurter grÃ¼ne SoÃŸe,12,2,12 boxes,13.00,32,0,15,0

Running this, you'll see a lot of data. Maybe too much. We don't need to see every single product right now, we just want to get a feel for the table's structure.

To ask for just a sample, we can add a limit clause. This is useful for taking a quick peek without overwhelming our screen. Let's just look at the first 5 products. To do that, we will be using the clause "LIMIT".

In [26]:
query_and_print("SELECT * from Products LIMIT 5;")

 ProductID                  ProductName  SupplierID  CategoryID     QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel Discontinued
         1                         Chai           1           1  10 boxes x 20 bags      18.00            39             0            10            0
         2                        Chang           1           1  24 - 12 oz bottles      19.00            17            40            25            0
         3                Aniseed Syrup           1           2 12 - 550 ml bottles      10.00            13            70            25            0
         4 Chef Anton's Cajun Seasoning           2           2      48 - 6 oz jars      22.00            53             0             0            0
         5       Chef Anton's Gumbo Mix           2           2            36 boxes      21.35             0             0             0            1

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

Much better. Now we can see the columns clearly: ProductID, ProductName, SupplierID, UnitPrice, etc.

The * is handy, but most of the time we only care about a few specific columns. For our sales mission, the product name and its price are probably quite important. Let's select just those two columns.

In [27]:
query_and_print("select ProductName, UnitPrice from Products limit 5;")

                 ProductName  UnitPrice
                        Chai      18.00
                       Chang      19.00
               Aniseed Syrup      10.00
Chef Anton's Cajun Seasoning      22.00
      Chef Anton's Gumbo Mix      21.35

                    ProductName  UnitPrice
0                          Chai      18.00
1                         Chang      19.00
2                 Aniseed Syrup      10.00
3  Chef Anton's Cajun Seasoning      22.00
4        Chef Anton's Gumbo Mix      21.35

Here we go. We've just used the most fundamental command in SQL.

+ Select lets us choose the columns we want to see.
+ From tells the database which table to look in.
+ Limit restricts the number of rows returned.

### Finding what you need with where
Looking at a random list of products is a start, but to make smart decisions, we need to ask more specific questions. For instance, a simple sales strategy could be to promote our high-value items.

So, let's ask the database: "Show me the products that are expensive". We need to define "expensive". Let's say, for now, any product with a UnitPrice greater than 50.

To filter our data based on a condition, we use the where clause. Think of it as adding an "if" to your request.

In [28]:
query_and_print("select ProductName, UnitPrice from Products where UnitPrice > 50;");

            ProductName  UnitPrice
        Mishi Kobe Niku      97.00
       Carnarvon Tigers      62.50
 Sir Rodney's Marmalade      81.00
ThÃ¼ringer Rostbratwurst     123.79
          CÃ´te de Blaye     263.50
  Manjimup Dried Apples      53.00
   Raclette Courdavault      55.00

Now we have a list of our premium products. Notice we used the greater-than symbol >. You can use other familiar comparison operators too:

+ = : equals
+ < : less than
+ >= : greater than or equal to
+ <= : less than or equal to
+ <> or != : not equal to

ðŸ‘‰ Let's try another one. What if we want to find information about a specific customer? Let's look at the Customers table and find all of our customers based in Germany. When we filter on text (also called a 'string'), we need to put the value in single quotes ' '.

In [29]:
query_and_print("select CompanyName, ContactName, City from Customers where Country = 'Germany';");

             CompanyName         ContactName           City
     Alfreds Futterkiste        Maria Anders         Berlin
 Blauer See Delikatessen          Hanna Moos       Mannheim
Drachenblut Delikatessen        Sven Ottlieb         Aachen
          Frankenversand       Peter Franken        MÃ¼nchen
         KÃ¶niglich Essen       Philip Cramer    Brandenburg
     Lehmanns Marktstand      Renate Messner Frankfurt a.M.
  Morgenstern Gesundkost     Alexander Feuer        Leipzig
      Ottilies KÃ¤seladen Henriette Pfalzheim           KÃ¶ln
              QUICK-Stop         Horst Kloss      Cunewalde
      Toms SpezialitÃ¤ten       Karin Josephs        MÃ¼nster
       Die Wandernde Kuh         Rita MÃ¼ller      Stuttgart

#### Combining conditions with and and or

Our questions can get more complex. It's good that we found our expensive products, but what if an expensive product is out of stock? We can't sell it.

Let's refine our previous query. We want products that are both expensive (UnitPrice > 50) and actually in stock (UnitsInStock > 0).

To check for multiple conditions where all must be true, we use and.

In [30]:
query_and_print("select ProductName, UnitPrice, UnitsInStock from Products where UnitPrice > 50 and UnitsInStock > 0;");

           ProductName  UnitPrice  UnitsInStock
       Mishi Kobe Niku       97.0            29
      Carnarvon Tigers       62.5            42
Sir Rodney's Marmalade       81.0            40
         CÃ´te de Blaye      263.5            17
 Manjimup Dried Apples       53.0            20
  Raclette Courdavault       55.0            79

This list is much more useful for a sales campaign.

Now, let's consider a different strategy. Perhaps we want to run a marketing campaign in our key European markets, say Germany and France. We need a list of customers who are in Germany or in France.

For this, we use the or operator. It will show a row if any of the conditions are met.

In [31]:
query_and_print("select CompanyName, Country from Customers where Country = 'Switzerland' or Country = 'France';");

              CompanyName     Country
 Blondesddsl pÃ¨re et fils      France
                 Bon app'      France
        Chop-suey Chinese Switzerland
          Du monde entier      France
        Folies gourmandes      France
      France restauration      France
     La corne d'abondance      France
         La maison d'Asie      France
        Paris spÃ©cialitÃ©s      France
       Richter Supermarkt Switzerland
     SpÃ©cialitÃ©s du monde      France
     Victuailles en stock      France
Vins et alcools Chevalier      France

### Creating new information with calculations
Let's look at the Order Details table. It seems to hold the key to our sales performance. It has OrderID, ProductID, UnitPrice, and Quantity.

Wait a minute ðŸ’¡. It shows the price of a single unit and how many units were sold, but it doesn't have a column for the total value of that line item. No problem, we can calculate it ourselves, directly in the select statement.

In [34]:
# The 3 consecutive double quotes allow us to write a multi-line string in Python and to ignore quotes inside the string.
query_and_print("""select OrderID, ProductID, UnitPrice, Quantity, UnitPrice * Quantity
from "Order Details" limit 10;""")

 OrderID  ProductID  UnitPrice  Quantity  UnitPrice * Quantity
   10248         11       14.0        12                 168.0
   10248         42        9.8        10                  98.0
   10248         72       34.8         5                 174.0
   10249         14       18.6         9                 167.4
   10249         51       42.4        40                1696.0
   10250         41        7.7        10                  77.0
   10250         51       42.4        35                1484.0
   10250         65       16.8        15                 252.0
   10251         22       16.8         6                 100.8
   10251         57       15.6        15                 234.0

   OrderID  ProductID  UnitPrice  Quantity  UnitPrice * Quantity
0    10248         11       14.0        12                 168.0
1    10248         42        9.8        10                  98.0
2    10248         72       34.8         5                 174.0
3    10249         14       18.6         9                 167.4
4    10249         51       42.4        40                1696.0
5    10250         41        7.7        10                  77.0
6    10250         51       42.4        35                1484.0
7    10250         65       16.8        15                 252.0
8    10251         22       16.8         6                 100.8
9    10251         57       15.6        15                 234.0


---

# Can't beat'em? JOIN'em!

So, we've hit our first real data-wrangling challenge. We can see a ProductID in our list of valuable orders, but that's just a number. It doesn't tell our sales team whether the customer bought "Chai" or "Chef Anton's Gumbo Mix". 

That important piece of information, the product's name, lives in a completely different table, the Products table. This is intentional. 

**Databases are designed to be tidy** - instead of repeating the product name and description in every single order line, they just use a unique ID as a reference. It's like having a contact list with just phone numbers, and a separate address book. To find someone's address, you need to use their name to look them up in the other book. 

In SQL, this process of looking up and combining information from multiple tables is called a join. It's how we connect the dots using a shared piece of informationâ€”a "key" like ProductIDâ€”to build a more complete picture.