# Introduction to Data Engineering: Bridging the gap between raw data and insights

What we'll cover in this tutorial

In this tutorial, we'll be using SQLite, a simple and easy-to-use database, to explore the fundamentals of data engineering and data preprocessing. We'll cover the following topics:
+ Introduction to SQL: We'll learn the basics of SQL (Structured Query Language), the standard language for interacting with databases.
+ Data Loading: We'll load the transformed data into a new table or file for further analysis.
+ Data Extraction: We'll use SQL to extract data from our SQLite database.
+ Data Transformation: We'll use SQL to clean, transform, and prepare the data for analysis. This will include handling missing values, inconsistent formatting, and duplicates.

### Understanding SQL and Relational Databases

Relational databases organize data into tables, which you can visualize as spreadsheets with rows and columns. Each table represents a specific type of entity or concept ‚Äì imagine tables for "Customers," "Products," or "Orders." 
To query these databases, we are using **SQL**, which is the standard language for interacting with relational databases. 

Rows (or Records): Each row in a table represents a single instance of that entity. For example, in the diagram below, in the "Order" table, each row would represent one specific order. We often refer to these as records.
Columns (Attributes): Each column in a table represents a characteristic or attribute of that entity. In the "Order" table, columns might include "UnitPrice," "Quantity," and "Discount." Each column has a specific data type (e.g., text, number, date).
The power of relational databases lies in their ability to represent relationships between different entities. These relationships are created using keys:

+ Primary Key: A unique identifier for each record within a table. For example, "CustomerID" in the "Customers" table would likely be a primary key, ensuring that each customer has a unique identifier.
+ Foreign Key: A column in one table that refers to the primary key of another table. This establishes a link between the two tables. For example, an "Orders" table might have a "CustomerID" column that is a foreign key referencing the "CustomerID" (primary key) in the "Customers" table. This way, you know which customer placed each order.

Tables are linked together through these keys, allowing you to perform complex queries that combine data from multiple tables. They can be linked using different types of relationships, such as one-to-one, one-to-many, or many-to-many.

Below is a database schema diagram that illustrates these concepts:

![Northwind Database Schema](./images/db-schema-northwind.svg)


---

#  We need to populate our database with some data !

In this tutorial, we will be using the Northwind database, a sample database that contains data about a fictional company that imports and exports specialty foods. It includes tables for customers, orders, products, and more.
The schema diagram above shows the relationships between the tables in the Northwind database.

We've created for you a small script that will create the Northwind database and populate it with some sample data. To make things easy, we use SQLite, a lightweight database that is easy to set up and use, and offers a simple way to work with SQL databases without needing a separate server.
In a real-world scenario, you would typically connect to a database server (like PostgreSQL, MySQL, Snowflake, etc...) and run SQL commands to create and populate your database. 

üí° **You don't really need to understand what's happening down there, you can just execute the code and move on to the next section.**

In [ ]:
#Import required libraries for data processing

import urllib.request
import os
import sqlite3
import pandas as pd  # added for dataframe operations

In [ ]:
# Verifying if the database file exists, if not, download it. Instantiate the connection to the database.

url = "https://github.com/jpwhite3/northwind-SQLite3/raw/refs/heads/main/dist/northwind.db"
db_path = "northwind.db"

if not os.path.exists(db_path):
    print("Downloading the database...")
    urllib.request.urlretrieve(url, db_path)
    print("Database downloaded successfully!")
else:
    print("Database already exists.")

# Connexion √† la base
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

Database already exists.

In [ ]:
def query_and_print(query):
    """
    Execute a SQL query and print the results.
    """
    cursor.execute(query)
    results = cursor.fetchall()
    
    # Convert results to a DataFrame for better readability
    df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])
    
    print(df.to_string(index=False))
    return df


---

# Back to our SQL queries

SQL is the standard language for talking to databases ‚Äì the organized stores of information that power your business. Think of SQL as the tool that lets you ask questions of your data and get the answers you need to make better decisions. It's like having a direct line to your company's knowledge.

Why is SQL Important for Business Professionals?

SQL empowers you to:

Get answers to critical business questions: Instead of relying solely on reports or technical teams, you can use SQL to directly query your data and answer questions like:
+ What are my top-selling products this quarter?
+ Which marketing campaigns are generating the most leads?
+ What is the average order value for customers in a specific region?
+ Who are my most valuable customers, and what are they buying?


---

# ü§ñ SQL + AI: Smarter Queries, Safer Data

AI speed up and simplify greatly the SQL query generation, but it requires a thoughtful approach, and a bit of practice to get the most out of it. Here are some tips to help you effectively use AI for SQL query generation:

### 1. Prompt Engineering:

Set the Stage: Begin by defining the context: "As a database engineer using [Your Database System]..." that will help the system understand the environment and constraints.
This important for the query to have the proper syntax and to avoid errors.

ü´∏ Schema as Context: Always provide the relevant database schema as text at the beginning of your prompt or discussion. Without it, the AI model cannot understand what data it is manipulating, and will NEVER give you 

### 2. Prompt Engineering:

Clarity is Key: Articulate your needs precisely. Avoid ambiguity!
Example Prompts:
"I want the products generating the most revenue between 2014 and 2018."
"I want the name and phone number of our lead customer with over $1 million in purchases."
Critical Review:

Always Validate the AI's Output!
Watch Out For:
+ Inaccurate dates or filters - That could get you wrong results and insights
+ Destructive commands like DELETE or DROP TABLE - This can put in danger your whole database, and compromise the operations of others !

---


---

# Let's cross the Rubicon !

Alright, let's get our hands dirty. Imagine we've just been hired as the new data analysts for a company called "Northwind traders". They are a small but ambitious company that imports and exports gourmet food products around the world.

Our manager has given us our first big mission: Help the company boost its sales.

That's a broad goal. Where do we even begin? As data people, our first instinct should be to look at the data we have. We need to understand the business before we can change it. Our main tool for this investigation will be SQL.

Let's start by asking some basic questions.

Peeking into the data with select and limit
Before we can think about sales, we need to know what we're actually selling. Our database has a table called Products that seems like a good place to start.

Let's ask the database to show us everything in that table. The command for "show me" in SQL is select. If we want to see every column, we use the asterisk *, which is a wildcard for "all".

In [ ]:
query_and_print("SELECT * from Products;")

Running this, you'll see a lot of data. Maybe too much. We don't need to see every single product right now, we just want to get a feel for the table's structure.

To ask for just a sample, we can add a limit clause. This is useful for taking a quick peek without overwhelming our screen. Let's just look at the first 5 products. To do that, we will be using the clause "LIMIT".

In [ ]:
query_and_print("SELECT * from Products LIMIT 5;")


---

### Focusing your search: SELECT (Specific Columns) and LIMIT


Use Case: You're only interested in a few specific details from the folder (table). For example, you only want to see the order number, customer, and date. This is like skimming a document for only the key points.

Instead of using * (which means "everything"), you list the specific column names you want to see. Trying that onto the order table, it would be like "Show me only the Order Number, Customer, and Date for the first 5 orders."
Translated to SQL, it would be:

```sql
SELECT OrderID, CustomerID, OrderDate FROM Orders LIMIT 5;
```

In [10]:
query_and_print("SELECT OrderID, CustomerID, OrderDate FROM Orders LIMIT 5;")

 OrderID CustomerID  OrderDate
   10248      VINET 2016-07-04
   10249      TOMSP 2016-07-05
   10250      HANAR 2016-07-08
   10251      VICTE 2016-07-08
   10252      SUPRD 2016-07-09

   OrderID CustomerID   OrderDate
0    10248      VINET  2016-07-04
1    10249      TOMSP  2016-07-05
2    10250      HANAR  2016-07-08
3    10251      VICTE  2016-07-08
4    10252      SUPRD  2016-07-09

Only the 3 columns we specified were returned ! Much more readable.


---

### Finding Exactly What You Need: WHERE (Simple Filter) 

You need to find specific documents (rows) that meet certain criteria. For instance, you want to find all orders placed by a particular customer. This is like using a keyword search to find a specific file.

The WHERE clause acts as a filter, allowing you to specify conditions that must be met for a row to be included in the results.

In [12]:
query_and_print("SELECT * FROM Orders WHERE CustomerID = 'ALFKI';")

 OrderID CustomerID  EmployeeID           OrderDate        RequiredDate         ShippedDate  ShipVia  Freight                           ShipName                                    ShipAddress        ShipCity      ShipRegion ShipPostalCode ShipCountry
   10643      ALFKI           6          2017-08-25          2017-09-22          2017-09-02        1    19.50                Alfreds Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   10692      ALFKI           4          2017-10-03          2017-10-31          2017-10-13        2    15.00               Alfred-s Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   10702      ALFKI           4          2017-10-13          2017-11-24          2017-10-21        1    15.25               Alfred-s Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   10835      ALFKI           1          2018-01-15          2018-02-12          2018-01-21        3    14.25               Alfred-s Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   10952      ALFKI           1          2018-03-16          2018-04-27          2018-03-24        1    14.50               Alfred-s Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   11011      ALFKI           3          2018-04-09          2018-05-07          2018-04-13        1    25.00               Alfred-s Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   11240      ALFKI           2 2020-12-27 13:13:57 2021-01-01 17:50:29 2021-01-02 00:21:21        2    52.00          Vins et alcools Chevalier                             59 rue de l-Abbaye           Reims  Western Europe          51100      France
   11450      ALFKI           4 2016-01-07 07:28:54 2016-02-02 21:47:52 2016-01-10 02:32:08        3   207.50  Trail-s Head Gourmet Provisioners                              722 DaVinci Blvd.        Kirkland   North America          98034         USA
   11658      ALFKI           3 2019-03-10 15:53:13 2019-04-30 01:11:03 2019-03-10 21:54:41        1    49.00                   HILARION-Abastos     Carrera 22 con Ave. Carlos Soublette #8-35   San Crist√≥bal   South America           5022   Venezuela
   11683      ALFKI           5 2015-09-30 17:07:34 2015-10-01 07:51:18 2015-10-07 03:57:10        3   393.25             Old World Delicatessen                                2743 Bering St.       Anchorage   North America          99508         USA
   11717      ALFKI           9 2014-04-29 14:04:20 2014-05-29 21:32:56 2014-05-02 07:09:59        1    17.50            Blauer See Delikatessen                                 Forsterstr. 57        Mannheim  Western Europe          68306     Germany
   11789      ALFKI           5 2013-01-05 17:27:45 2013-02-01 17:37:28 2013-01-06 14:10:06        1   272.50                 Reggiani Caseifici                         Strada Provinciale 124   Reggio Emilia Southern Europe          42100       Italy
   11798      ALFKI           6 2014-12-08 14:11:23 2014-12-27 12:55:45 2014-12-19 05:05:34        1    49.75                Tortuga Restaurante                               Avda. Azteca 123     M√©xico D.F. Central America           5033      Mexico
   11819      ALFKI           4 2019-05-30 17:50:56 2019-06-12 09:49:38 2019-06-06 16:23:18        1   253.00     Furia Bacalhau e Frutos do Mar                         Jardim das rosas n. 32          Lisboa Southern Europe           1675    Portugal
   11835      ALFKI           7 2013-10-10 06:22:39 2013-12-04 06:23:58 2013-10-10 11:51:55        2   156.00                Alfreds Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   11863      ALFKI           7 2014-07-07 19:21:17 2014-07-17 13:10:32 2014-07-14 07:01:05        1   312.75            Antonio Moreno Taquer√≠a                                Mataderos ¬†2312     M√©xico D.F. Central America           5023      Mexico
   11869      ALFKI           8 2015-12-25 03:46:24 2016-01-02 11:21:53 2015-12-30 18:40:55        2   308.50               White Clover Markets                            1029 - 12th Ave. S.         Seattle   North America          98124         USA
   11908      ALFKI           3 2012-09-07 02:39:28 2012-09-22 10:10:13 2012-09-14 05:09:17        1   424.50                 Ricardo Adocicados                            Av. Copacabana, 267  Rio de Janeiro   South America      02389-890      Brazil
   12037      ALFKI           1 2017-11-13 00:41:28 2017-12-10 09:26:03 2017-12-09 10:56:15        2   448.50                Tortuga Restaurante                               Avda. Azteca 123     M√©xico D.F. Central America           5033      Mexico
   12078      ALFKI           4 2012-08-31 17:02:02 2012-09-20 12:14:02 2012-09-02 11:30:58        2   205.25                     Wartian Herkku                                    Torikatu 38            Oulu     Scandinavia          90110     Finland
   12271      ALFKI           2 2023-08-18 01:47:30 2023-08-26 09:00:41 2023-08-22 02:31:12        1   442.25                 Toms Spezialit√§ten                                  Luisenstr. 48         M√ºnster  Western Europe          44087     Germany
   12302      ALFKI           3 2018-02-24 12:51:07 2018-02-25 00:05:19 2018-03-22 16:19:19        2   173.75           Lonesome Pine Restaurant                             89 Chiaroscuro Rd.        Portland   North America          97219         USA
   12304      ALFKI           2 2021-01-31 04:13:48 2021-02-04 09:39:52 2021-02-01 08:38:00        1   229.00             Old World Delicatessen                                2743 Bering St.       Anchorage   North America          99508         USA
   12409      ALFKI           8 2019-06-28 22:13:20 2019-07-05 11:29:42 2019-07-08 08:33:01        1    98.25                 Ricardo Adocicados                            Av. Copacabana, 267  Rio de Janeiro   South America      02389-890      Brazil
   12551      ALFKI           5 2014-06-16 00:22:37 2014-06-23 08:30:54 2014-07-02 01:10:15        2    33.00                  Folies gourmandes                       184, chauss√©e de Tournai           Lille  Western Europe          59000      France
   12671      ALFKI           7 2012-08-22 13:27:12 2012-09-13 13:47:05 2012-08-27 11:16:19        1   107.75               Sp√©cialit√©s du monde                              25, rue Lauriston           Paris  Western Europe          75016      France
   12696      ALFKI           4 2012-12-18 05:24:55 2013-01-06 23:32:38 2012-12-18 19:16:53        1   253.50             Tradi√ßao Hipermercados                        Av. In√™s de Castro, 414       Sao Paulo   South America      05634-030      Brazil
   12737      ALFKI           7 2015-03-15 11:40:42 2015-04-01 17:46:12 2015-03-18 16:44:33        1   402.50             Old World Delicatessen                                2743 Bering St.       Anchorage   North America          99508         USA
   12748      ALFKI           9 2021-03-15 06:02:28 2021-03-26 23:00:48 2021-03-28 20:05:42        3    35.00                           Bon app-                           12, rue des Bouchers       Marseille  Western Europe          13008      France
   12957      ALFKI           2 2018-06-03 09:53:45 2018-06-14 18:38:09 2018-06-05 07:46:26        3    45.50            Great Lakes Food Market                               2732 Baker Blvd.          Eugene   North America          97403         USA
   13068      ALFKI           5 2017-04-20 14:18:38 2017-05-11 10:47:13 2017-04-25 15:50:38        1   289.00         Rattlesnake Canyon Grocery                                2817 Milton Dr.     Albuquerque   North America          87110         USA
   13119      ALFKI           6 2017-04-13 16:31:36 2017-04-28 00:35:16 2017-04-15 02:08:22        1   165.50                  Let-s Stop N Shop                            87 Polk St. Suite 5   San Francisco   North America          94117         USA
   13223      ALFKI           6 2020-02-09 08:56:17 2020-02-10 12:00:58 2020-02-18 01:02:15        3    69.50             Princesa Isabel Vinhos                         Estrada da sa√∫de n. 58          Lisboa Southern Europe           1756    Portugal
   13480      ALFKI           5 2020-02-08 21:14:01 2020-02-17 21:53:56 2020-02-15 15:23:27        1   178.75       Magazzini Alimentari Riuniti                        Via Ludovico il Moro 22         Bergamo Southern Europe          24100       Italy
   13736      ALFKI           3 2023-09-24 08:20:26 2023-10-01 06:18:08 2023-09-27 10:33:29        1   166.00                 Seven Seas Imports                                90 Wadhurst Rd.          London   British Isles       OX15 4NB          UK
   13886      ALFKI           5 2022-10-14 04:00:33 2022-10-26 04:24:09 2022-10-18 07:46:29        2   475.50                    K√∂niglich Essen                                  Maubelstr. 90     Brandenburg  Western Europe          14776     Germany
   13914      ALFKI           4 2021-12-11 14:58:59 2021-12-19 18:36:30 2021-12-14 11:57:55        3   367.00                 Toms Spezialit√§ten                                  Luisenstr. 48         M√ºnster  Western Europe          44087     Germany
   14091      ALFKI           8 2015-05-09 23:06:27 2015-05-20 12:36:35 2015-05-26 01:46:38        1   221.25                     The Big Cheese                       89 Jefferson Way Suite 2        Portland   North America          97201         USA
   14157      ALFKI           4 2017-09-08 16:18:21 2017-09-25 13:33:46 2017-09-15 07:16:58        1   431.50                       Vaffeljernet                                  Smagsloget 45           √Örhus Northern Europe           8200     Denmark
   14208      ALFKI           6 2012-10-06 12:09:23 2012-10-24 10:18:06 2012-10-07 03:17:51        1   387.00                     Frankenversand                              Berliner Platz 43         M√ºnchen  Western Europe          80805     Germany
   14214      ALFKI           6 2020-04-10 12:23:16 2020-04-24 04:36:28 2020-04-11 10:01:07        2    94.00                      B-s Beverages                              Fauntleroy Circus          London   British Isles        EC2 5NT          UK
   14252      ALFKI           2 2023-03-02 10:20:49 2023-04-05 08:14:27 2023-03-05 05:49:21        3   514.25                Godos Cocina T√≠pica                                  C/ Romero, 33         Sevilla Southern Europe          41101       Spain
   14302      ALFKI           9 2020-06-13 10:10:14 2020-06-15 17:37:38 2020-06-18 01:01:21        3   338.50                  Die Wandernde Kuh                              Adenauerallee 900       Stuttgart  Western Europe          70563     Germany
   14438      ALFKI           7 2015-08-23 07:56:42 2015-09-07 01:09:31 2015-09-12 03:39:24        3   359.00         Hungry Coyote Import Store                 City Center Plaza 516 Main St.           Elgin   North America          97827         USA
   14486      ALFKI           4 2022-11-26 09:25:20 2022-12-09 15:18:53 2022-12-18 16:18:46        2   116.25                     Frankenversand                              Berliner Platz 43         M√ºnchen  Western Europe          80805     Germany
   14647      ALFKI           8 2023-01-07 17:08:02 2023-01-11 22:37:03 2023-01-13 02:10:17        2   277.25       Hungry Owl All-Night Grocers                               8 Johnstown Road            Cork   British Isles           None     Ireland
   14746      ALFKI           5 2018-03-09 05:34:11 2018-03-26 13:43:58 2018-04-06 00:24:29        2   171.25                     Frankenversand                              Berliner Platz 43         M√ºnchen  Western Europe          80805     Germany
   14843      ALFKI           8 2022-03-04 18:39:01 2022-04-30 20:13:23 2022-03-06 18:09:08        1    79.50                   Supr√™mes d√©lices                           Boulevard Tirou, 255       Charleroi  Western Europe         B-6000     Belgium
   14855      ALFKI           2 2018-04-14 05:39:22 2018-04-20 19:28:47 2018-04-18 14:57:24        1   210.00                 Ricardo Adocicados                            Av. Copacabana, 267  Rio de Janeiro   South America      02389-890      Brazil
   14973      ALFKI           7 2013-05-27 22:31:39 2013-07-08 14:30:06 2013-05-29 09:01:07        3    52.25                   La maison d-Asie                          1 rue Alsace-Lorraine        Toulouse  Western Europe          31000      France
   15318      ALFKI           9 2023-07-01 09:32:35 2023-07-28 04:01:45 2023-07-02 00:47:50        2   196.25                  LILA-Supermercado Carrera 52 con Ave. Bol√≠var #65-98 Llano Largo    Barquisimeto   South America           3508   Venezuela
   15347      ALFKI           8 2019-12-10 17:34:55 2020-01-22 23:51:12 2019-12-11 03:06:42        3   362.25                    Around the Horn                  Brook Farm Stratford St. Mary      Colchester   British Isles        CO7 6JX          UK
   15470      ALFKI           8 2017-09-11 05:54:22 2017-09-16 14:01:02 2017-09-13 11:56:03        3   148.25                       Maison Dewey                            Rue Joseph-Bens 532       Bruxelles  Western Europe         B-1180     Belgium
   15480      ALFKI           2 2021-06-09 05:22:14 2021-06-19 02:31:30 2021-06-10 19:30:10        1    39.00         Hungry Coyote Import Store                 City Center Plaza 516 Main St.           Elgin   North America          97827         USA
   15897      ALFKI           8 2013-04-09 00:20:15 2013-04-19 18:09:55 2013-04-15 22:14:46        3    21.75                   La maison d-Asie                          1 rue Alsace-Lorraine        Toulouse  Western Europe          31000      France
   15900      ALFKI           2 2020-01-26 07:17:31 2020-02-01 15:43:47 2020-02-15 12:05:01        2   430.25                  Folies gourmandes                       184, chauss√©e de Tournai           Lille  Western Europe          59000      France
   15905      ALFKI           3 2023-10-02 12:20:28 2023-10-18 19:22:37 2023-10-03 01:26:35        2   168.25           Drachenblut Delikatessen                                   Walserweg 21          Aachen  Western Europe          52066     Germany
   15936      ALFKI           7 2023-03-10 11:35:35 2023-03-25 19:49:05 2023-03-12 08:28:38        2   186.00                    Around the Horn                  Brook Farm Stratford St. Mary      Colchester   British Isles        CO7 6JX          UK
   15958      ALFKI           7 2022-05-22 22:45:24 2022-06-10 04:48:28 2022-05-27 06:31:20        1   267.25                      Rancho grande                         Av. del Libertador 900    Buenos Aires   South America           1010   Argentina
   16149      ALFKI           1 2016-06-19 04:51:55 2016-07-16 14:16:51 2016-06-21 19:23:30        2    68.00                    Du monde entier                   67, rue des Cinquante Otages          Nantes  Western Europe          44000      France
   16198      ALFKI           1 2013-09-29 01:54:02 2013-10-13 19:20:22 2013-10-17 02:28:10        2   272.25         Rattlesnake Canyon Grocery                                2817 Milton Dr.     Albuquerque   North America          87110         USA
   16204      ALFKI           3 2016-10-16 16:38:24 2016-11-05 11:54:56 2016-11-08 20:46:06        1   306.50               Sp√©cialit√©s du monde                              25, rue Lauriston           Paris  Western Europe          75016      France
   16251      ALFKI           8 2019-05-04 15:07:08 2019-05-22 21:47:28 2019-05-11 13:43:52        2   222.25  Trail-s Head Gourmet Provisioners                              722 DaVinci Blvd.        Kirkland   North America          98034         USA
   16258      ALFKI           6 2016-11-07 00:57:17 2016-11-18 04:02:15 2016-11-13 06:09:17        1    94.25                Godos Cocina T√≠pica                                  C/ Romero, 33         Sevilla Southern Europe          41101       Spain
   16370      ALFKI           5 2013-03-25 22:48:40 2013-05-01 03:19:30 2013-03-28 04:24:41        1    63.00 Ana Trujillo Emparedados y helados                  Avda. de la Constituci√≥n 2222     M√©xico D.F. Central America           5021      Mexico
   16441      ALFKI           7 2017-01-26 13:51:23 2017-01-29 07:38:32 2017-02-03 11:13:41        3   190.00                 Seven Seas Imports                                90 Wadhurst Rd.          London   British Isles       OX15 4NB          UK
   16537      ALFKI           8 2019-04-28 13:24:17 2019-05-15 21:00:42 2019-05-09 01:51:26        2   252.75                Alfreds Futterkiste                                  Obere Str. 57          Berlin  Western Europe          12209     Germany
   16548      ALFKI           6 2016-12-28 16:23:31 2017-01-09 13:02:31 2017-01-08 05:52:33        2   175.75                       Maison Dewey                            Rue Joseph-Bens 532       Bruxelles  Western Europe         B-1180     Belgium
   16581      ALFKI           9 2019-02-01 16:22:01 2019-02-17 19:06:55 2019-02-12 12:47:13        2   188.25                        Wilman Kala                                  Keskuskatu 45        Helsinki     Scandinavia          21240     Finland
   16596      ALFKI           1 2013-12-22 10:53:21 2014-01-18 13:33:42 2013-12-29 23:15:52        1    39.25             Wellington Importadora                             Rua do Mercado, 12         Resende   South America      08737-363      Brazil
   16617      ALFKI           7 2013-02-12 05:51:27 2013-02-23 05:22:05 2013-03-04 08:44:03        2    41.25                   Com√©rcio Mineiro                           Av. dos Lus√≠adas, 23       Sao Paulo   South America      05432-043      Brazil
   16942      ALFKI           9 2016-10-04 06:26:44 2016-10-08 09:53:40 2016-10-08 01:43:22        2   376.00                Gourmet Lanchonetes                                Av. Brasil, 442        Campinas   South America      04876-786      Brazil
   16981      ALFKI           3 2021-11-05 19:30:47 2021-11-11 22:37:21 2021-11-07 03:00:13        2   341.50                     Frankenversand                              Berliner Platz 43         M√ºnchen  Western Europe          80805     Germany
   17015      ALFKI           8 2017-12-15 23:55:36 2018-01-22 00:12:51 2017-12-19 16:58:03        2   367.75                     Wartian Herkku                                    Torikatu 38            Oulu     Scandinavia          90110     Finland
   17107      ALFKI           3 2013-06-11 01:53:21 2013-06-17 13:07:31 2013-06-13 16:22:33        3   423.50               Lazy K Kountry Store                           12 Orchestra Terrace     Walla Walla   North America          99362         USA
   17194      ALFKI           7 2020-02-21 14:43:38 2020-04-09 17:04:18 2020-03-01 20:06:39        3   374.25                     The Big Cheese                       89 Jefferson Way Suite 2        Portland   North America          97201         USA
   17243      ALFKI           8 2022-04-15 18:48:12 2022-05-23 21:49:03 2022-04-20 21:36:53        3   131.50               White Clover Markets                            1029 - 12th Ave. S.         Seattle   North America          98124         USA
   17258      ALFKI           4 2019-10-30 14:25:02 2019-11-18 09:30:10 2019-11-09 07:42:08        3   137.25         Rattlesnake Canyon Grocery                                2817 Milton Dr.     Albuquerque   North America          87110         USA

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10643,ALFKI,6,2017-08-25,2017-09-22,2017-09-02,1,19.50,Alfreds Futterkiste,Obere Str. 57,Berlin,Western Europe,12209,Germany
1,10692,ALFKI,4,2017-10-03,2017-10-31,2017-10-13,2,15.00,Alfred-s Futterkiste,Obere Str. 57,Berlin,Western Europe,12209,Germany
2,10702,ALFKI,4,2017-10-13,2017-11-24,2017-10-21,1,15.25,Alfred-s Futterkiste,Obere Str. 57,Berlin,Western Europe,12209,Germany
3,10835,ALFKI,1,2018-01-15,2018-02-12,2018-01-21,3,14.25,Alfred-s Futterkiste,Obere Str. 57,Berlin,Western Europe,12209,Germany
4,10952,ALFKI,1,2018-03-16,2018-04-27,2018-03-24,1,14.50,Alfred-s Futterkiste,Obere Str. 57,Berlin,Western Europe,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,25970,ALFKI,8,2014-05-30 03:45:30,2014-06-12 15:55:28,2014-06-01 01:30:12,2,360.00,Godos Cocina T√≠pica,"C/ Romero, 33",Sevilla,Southern Europe,41101,Spain
159,26123,ALFKI,2,2021-08-20 09:27:19,2021-09-16 07:56:40,2021-09-05 02:35:47,3,27.00,Wolski Zajazd,ul. Filtrowa 68,Warszawa,Eastern Europe,01-012,Poland
160,26255,ALFKI,9,2018-09-08 04:33:44,2018-09-17 16:41:31,2018-09-08 04:46:15,2,470.50,Let-s Stop N Shop,87 Polk St. Suite 5,San Francisco,North America,94117,USA
161,26376,ALFKI,3,2023-10-15 09:15:19,2023-10-18 02:17:28,2023-10-22 14:59:32,3,107.00,France restauration,"54, rue Royale",Nantes,Western Europe,44000,France
162,26469,ALFKI,6,2013-01-06 21:00:22,2013-01-11 09:59:06,2013-01-07 03:05:57,1,373.00,Great Lakes Food Market,2732 Baker Blvd.,Eugene,North America,97403,USA

### Fine-tuning your search: WHERE with AND / OR (Multiple Filters)

You want to find documents (rows) that meet multiple requirements. For example, you want to find customers who live in a specific city and country. The AND operator lets you combine multiple conditions in the WHERE clause. All the conditions must be true for a row to be included.

AND: "Must match all of these!" (Combines conditions ‚Äì all must be true).
OR: "Must match at least one of these!" (Combines conditions ‚Äì one or more must be true).

In [14]:
query_and_print("SELECT * FROM Customers WHERE City = 'London' AND Country = 'UK';")

CustomerID           CompanyName       ContactName                Title                      Address   City        Region PostalCode Country          Phone            Fax
     AROUT       Around the Horn      Thomas Hardy Sales Representative              120 Hanover Sq. London British Isles    WA1 1DP      UK (171) 555-7788 (171) 555-6750
     BSBEV         B's Beverages Victoria Ashworth Sales Representative            Fauntleroy Circus London British Isles    EC2 5NT      UK (171) 555-1212           None
     CONSH Consolidated Holdings   Elizabeth Brown Sales Representative Berkeley Gardens 12  Brewery London British Isles    WX1 6LT      UK (171) 555-2282 (171) 555-9199
     EASTC    Eastern Connection         Ann Devon          Sales Agent               35 King George London British Isles    WX3 6FW      UK (171) 555-0297 (171) 555-3373
     NORTS           North/South    Simon Crowther      Sales Associate South House 300 Queensbridge London British Isles    SW7 1RZ      UK (171) 555-7733 (171) 555-2530
     SEVES    Seven Seas Imports        Hari Kumar        Sales Manager              90 Wadhurst Rd. London British Isles   OX15 4NB      UK (171) 555-1717 (171) 555-5646

,CustomerID,CompanyName,ContactName,Title,Address,City,Region,PostalCode,Country,Phone,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,British Isles,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,British Isles,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,British Isles,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,British Isles,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
5,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,British Isles,OX15 4NB,UK,(171) 555-1717,(171) 555-5646

The OR clause provides broader filtering capabilities. Try this query:

SELECT * FROM Customers WHERE City = 'London' OR Country = 'UK';
This retrieves customers located either in London or anywhere in the UK. Before running such queries, it's crucial to consider: What data do I really need? Can the filtering logic be simplified to achieve a more precise result?  Thoughtful filtering ensures you extract only the most relevant information. Mayb

In [5]:
query_and_print("SELECT * FROM Customers WHERE City = 'London' OR Country = 'UK';")

CustomerID           CompanyName       ContactName                Title                      Address   City        Region PostalCode Country          Phone            Fax
     AROUT       Around the Horn      Thomas Hardy Sales Representative              120 Hanover Sq. London British Isles    WA1 1DP      UK (171) 555-7788 (171) 555-6750
     BSBEV         B's Beverages Victoria Ashworth Sales Representative            Fauntleroy Circus London British Isles    EC2 5NT      UK (171) 555-1212           None
     CONSH Consolidated Holdings   Elizabeth Brown Sales Representative Berkeley Gardens 12  Brewery London British Isles    WX1 6LT      UK (171) 555-2282 (171) 555-9199
     EASTC    Eastern Connection         Ann Devon          Sales Agent               35 King George London British Isles    WX3 6FW      UK (171) 555-0297 (171) 555-3373
     ISLAT        Island Trading     Helen Bennett    Marketing Manager    Garden House Crowther Way  Cowes British Isles   PO31 7PJ      UK (198) 555-8888           None
     NORTS           North/South    Simon Crowther      Sales Associate South House 300 Queensbridge London British Isles    SW7 1RZ      UK (171) 555-7733 (171) 555-2530
     SEVES    Seven Seas Imports        Hari Kumar        Sales Manager              90 Wadhurst Rd. London British Isles   OX15 4NB      UK (171) 555-1717 (171) 555-5646

,CustomerID,CompanyName,ContactName,Title,Address,City,Region,PostalCode,Country,Phone,Fax
0,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
1,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,British Isles,EC2 5NT,UK,(171) 555-1212,None
2,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,British Isles,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
3,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,British Isles,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
4,ISLAT,Island Trading,Helen Bennett,Marketing Manager,Garden House Crowther Way,Cowes,British Isles,PO31 7PJ,UK,(198) 555-8888,None
5,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,British Isles,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
6,SEVES,Seven Seas Imports,Hari Kumar,Sales Manager,90 Wadhurst Rd.,London,British Isles,OX15 4NB,UK,(171) 555-1717,(171) 555-5646